@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.dark{
    background-color: #1A1A1A;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
      text-align: center;
      height: 476px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) ;
      -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) ;
}

.swiper-slide img {
  object-fit: cover;
}

.swiper-button-prev, .swiper-button-next{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #ffffff;
    padding: 10px;
    color: #E58411 !important;
    top: 40% !important;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.6)) ;
    -webkit-filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.6)) ;
}

.swiper-button-prev svg{
    font-size: 26px;
}